<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>officecleantech</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoffServlet</display-name>
    <servlet-name>LogoffServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.LogoffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoffServlet</servlet-name>
    <url-pattern>/LogoffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarFornecedorServlet</display-name>
    <servlet-name>CadastrarFornecedorServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.CadastrarFornecedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarFornecedorServlet</servlet-name>
    <url-pattern>/CadastrarFornecedorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarProdutoServlet</display-name>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.CadastrarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <url-pattern>/CadastrarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicioAlterarUsuarioServlet</display-name>
    <servlet-name>InicioAlterarUsuarioServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.InicioAlterarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioAlterarUsuarioServlet</servlet-name>
    <url-pattern>/InicioAlterarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuarioServlet</display-name>
    <servlet-name>CadastrarUsuarioServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.CadastrarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuarioServlet</servlet-name>
    <url-pattern>/CadastrarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutaAlterarUsuarioServlet</display-name>
    <servlet-name>ExecutaAlterarUsuarioServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.ExecutaAlterarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutaAlterarUsuarioServlet</servlet-name>
    <url-pattern>/ExecutaAlterarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirUsuarioServlet</display-name>
    <servlet-name>ExcluirUsuarioServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.ExcluirUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirUsuarioServlet</servlet-name>
    <url-pattern>/ExcluirUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FornecedorServlet</display-name>
    <servlet-name>FornecedorServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.FornecedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FornecedorServlet</servlet-name>
    <url-pattern>/FornecedorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoServlet</display-name>
    <servlet-name>ProdutoServlet</servlet-name>
    <servlet-class>br.com.officecleantech.view.ProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoServlet</servlet-name>
    <url-pattern>/ProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirFornecedor</display-name>
    <servlet-name>ExcluirFornecedor</servlet-name>
    <servlet-class>br.com.officecleantech.view.ExcluirFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirFornecedor</servlet-name>
    <url-pattern>/ExcluirFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicioAlterarFornecedor</display-name>
    <servlet-name>InicioAlterarFornecedor</servlet-name>
    <servlet-class>br.com.officecleantech.view.InicioAlterarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioAlterarFornecedor</servlet-name>
    <url-pattern>/InicioAlterarFornecedor</url-pattern>
  </servlet-mapping>
</web-app>